@import '../../styles/variables';

.block-404 {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .img-container {
        width: 640px;
        margin-right: 32px;
    }
    .text-container {
        max-width: 330px;
        flex-shrink: 0;
        .text-giant {
            font-family: $font-bold;
            font-size: 9rem;
            background: -webkit-linear-gradient(#C79A3C, #A6843C, #614B1D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 24px;
        }
        .title {
            font-family: $font-bold;
            font-size: $text-title;
            margin-bottom: 18px;
        }
        .text {
            font-size: $text-big;
            line-height: 30px;
        }
        .link {
            position: relative;
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            &:after {
                position: absolute;
                content: '\E805';
                font-family: 'fontello';
                font-size: 20px;
                color: $blue;
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
            }
            &:hover,
            &:active {
                &:after {
                    transform: translateX(8px) rotate(180deg);
                }
            }
        }
        span {
            font-family: $font;
            font-size: $text-medium;
            color: $blue;
            padding-right: 16px;
            &:hover,
            &:active {
                text-decoration: underline;
            }
        }

    }
}