@import '../../styles/variables';

body.intro {
    .header,
    .btn-info {
        display: none;
    }
    .img-left,
    .img-right {
        position: fixed;
        height: 662px;
        top: 50%;
        transform: translateY(-50%);
        user-select: none;
        img {
            height: 100%;
        }
    }
    .img-left {
        left: 0;
    }
    .img-right {
        right: 0;
    }
}

.box-intro {
    z-index: 2;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 362px;
    text-align: center;
    .logo {
        max-width: 192px;
        margin: 24px auto;
        user-select: none;
    }
    p {
        font-size: $text-big;
        line-height: 30px;
    }
    .btn {
        margin-top: 24px;
    }
}