@import '../../styles/variables';

.block-intro {
    z-index: 2;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 362px;
    text-align: center;
    .logo {
        max-width: 192px;
        margin: 24px auto;
        user-select: none;
    }
    p {
        font-size: $text-big;
        line-height: 30px;
    }
    .btn {
        margin-top: 24px;
    }
}

.img-intro-left,
.img-intro-right {
    position: fixed;
    height: 662px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    img {
        height: 100%;
    }
}
.img-intro-left {
    left: 0;
}
.img-intro-right {
    right: 0;
}