@import '../../styles/variables';

.box-intro {
    z-index: 2;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 362px;
    text-align: center;
    .logo {
        max-width: 192px;
        margin: 24px auto;
    }
    p {
        font-size: 18px;
        line-height: 22px;
        &:last-of-type {
            font-family: $font-bold;
            font-size: 22px;
            line-height: 36px;
        }
    }
    a {
        display: block;
        margin: 24px 63px 0;
        padding: 16px;
        background: $blue;
        color: $darkblue;
        font-size: 18px;
        text-decoration: none;
        box-shadow: $box-shadow;
        &:hover {
            background: $gold-gradient;
        }
    }
}

.img-left,
.img-right {
    position: absolute;
    height: 662px;
    top: 50%;
    transform: translateY(-50%);
    img {
        height: 100%;
    }
}

.img-left {
    left: 0;
}

.img-right {
    right: 0;
}