$blue-primery: #160B31;
$blue-secondary: #00CBE0;
$background : radial-gradient(rgba(0, 43, 84, 0.9) 0.97%,rgba(12, 12, 36, 0.9) 56.75%,rgba(15, 15, 46, 0.9) 100%);
$gold: #C79A3C;
$white: #ffffff;

$font: 'Lato';
$font-bold: 'Lato-bold';

@font-face {
    font-family: 'fontello';
    src: url('fonts/icons/fontello.eot?73249035');
    src: url('fonts/icons/fontello.eot?73249035#iefix') format('embedded-opentype'),
         url('fonts/icons/fontello.woff2?73249035') format('woff2'),
         url('fonts/icons/fontello.woff?73249035') format('woff'),
         url('fonts/icons/fontello.ttf?73249035') format('truetype'),
         url('fonts/icons/fontello.svg?73249035#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "lato";
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "lato-hairline";
    src: url(./fonts/Lato-Hairline.ttf);
}

@font-face {
    font-family: "lato-light";
    src: url(./fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "lato-bold";
    src: url(./fonts/Lato-Bold.ttf);
}

html, body {
    height: 100%;
}

body {
    background: $background;
    font-family: $font;
    font-size: 14px;
    color: $white;
}

h1 {
    margin-bottom: 20px;
}

.title {
    font-family: $font-bold;
    font-size: 24px;
}

.wrapper {
    max-width: 1040px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.block {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
    &.blue-primery {
        background: $blue-primery;
    }
    &.blue-secondary {
        background: $blue-secondary
    }
    &.gold {
        background: $gold;
    }
}

.thumb-champ {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(./img/Gnar.png);
    background-size: cover;
    &:nth-child(2) {
        background-image: url(./img/Nidalee.png);
    }
    &:nth-child(3) {
        background-image: url(./img/Fizz.png);
    }
    &:nth-child(4) {
        background-image: url(./img/Twitch.png);
    }
    &:nth-child(5) {
        background-image: url(./img/Lulu.png);
    }
}

.thumb-post {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $blue-primery;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    user-select: none;
    &:before {
        position: absolute;
        top: 30px;
        font-family: 'fontello';
        color: $blue-secondary;
        font-size: 32px;
    }
    &:nth-child(1):before {
        content: '\E801';
    }
    &:nth-child(2):before {
        content: '\E800';
    }
    &:nth-child(3):before {
        content: '\E803';
    }
    &:nth-child(4):before {
        content: '\E804';
    }
    &:nth-child(5):before {
        content: '\E802';
    }
    p {
        font-family: $font-bold;
        text-transform: uppercase;
        color: $blue-secondary;
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.navigation {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 64px;
    background: $blue-primery;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
    .logo {
        width: 32px;
        user-select: none;
        img {
            width: 100%;
        }
    }
    .btnRank {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 23.09px;
        user-select: none;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        &:hover {
            span {
                transition: ease-in-out 0.3s;
                color: $gold;
            }
        }
        &.active {
            border-left: solid 3px $gold;
            border-right: solid 3px $gold;
            &:before,
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                width: 28.28px;
                height: 28.28px;
                transform: scaleY(0.5774) rotate(-45deg);
                background-color: inherit;
                left: 2.8579px;
            }
            &:before {
                top: -14.1421px;
                border-top: solid 4.2426px $gold;
                border-right: solid 4.2426px $gold;
            }
            &:after {
                bottom: -14.1421px;
                border-bottom: solid 4.2426px $gold;
                border-left: solid 4.2426px $gold;
            }
            span {
                color: $gold;
            }
        }
        span {
            z-index: 2;
            font-family: $font-bold;
            font-size: 20px;
        }
    }
    .soundbox {
        user-select: none;
        img {
            cursor: pointer;
        }
    }
}