.bubble-post {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    text-decoration: none;
    cursor: pointer;
    &.icon:before {
        top: 38%;
        width: 32px;
        height: 32px;
    }
    span {
        font-family: $font;
        color: $darkblue;
        font-size: $text-small;
        margin-bottom: 16px;
        user-select: none;
    }
    &:hover,
    &:active {
        background: $gold-gradient;
    }
}