@import '../../styles/variables';

.btn-info {
    position: absolute;
    bottom: 24px; right: 64px;
    width: 24px;
    height: 24px;
    background: $blue;
    border-radius: 50%;
    cursor: pointer;
    &:before {
        content: '?';
        color: $darkblue;
        font-family: $font;
        font-size: 16px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal {
    display: none;
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0; left: 0; right: 0; bottom: 0;
    background: $darkblue;
    animation-name: animationGo;
    animation-duration: 0.3s;  
    .icon-cross {
        position: absolute;
        cursor: pointer;  
        top: 12px; right: 64px;
    }
    &.active {
        display: block;
    }
}

.modal-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    text-align: center;
    .title {
        margin: 0 100px;
        padding-bottom: 9px;
        font-family: $title;
        font-size: $text-title;
        line-height: 46px;
        background: -webkit-linear-gradient(#C79A3C, #A6843C, #614B1D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: solid 1px $gold;
    }

    .block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        p {
            font-size: $text-medium;
            line-height: 24px;
            text-align: left;
            span {
                color: $gold;
            }
        }
    }

    .img-champ {
        width: 100%;
    }
    .img-rank {
        min-width: 274px;
        margin-left: 32px;
    }
    .img-graph {
        min-width: 304px;
        margin-left: 32px;
    }
    .img-filter {
        display: flex;
        min-width: 304px;
        height: 104px;
        background: $background;
        margin-right: 32px;
        img {
            margin: auto;
        }
    }
    .img-liquid {
        min-width: 180px;
        margin-left: 32px;
    }
    .img-stat {
        min-width: 180px;
        margin-right: 32px;
    }
    .img-map {
        min-width: 250px;
        margin-left: 32px;
    }

    .btn {
        margin-top: 30px;
    }
}

@keyframes animationGo {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0px); }
}