@import '../../styles/variables';

.btn-post.icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    transition: all 0.3s ease;
    cursor: pointer;
    &.icon:before {
        top: 34%;
        width: 32px;
        height: 32px;
    }
    p {
        font-family: $font-bold;
        color: $darkblue;
        font-size: 14px;
        margin-bottom: 16px;
        user-select: none;
    }
    &:hover,
    &:active {
        background: $gold-gradient;
    }
}