@import '../../styles/variables';

.breadcrumb {
    text-decoration: none;
    color: inherit;
    color: $blue;
    font-family: $font-bold;
}

.breadcrumb:hover {
    text-decoration: underline;
}

.chevron:last-child {
    display: none;
}

.chevron {
    margin: 0 5px;
}