@import '../../styles/variables';

.breadcrumb {
    a {
        font-family: $font-bold;
        font-size: 12px;
        color: $blue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:not(:last-child) {
            &:after {
                content: '>';
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
}