.page-fiche {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    padding-bottom: 68px + 56px + 76px;
    
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        flex-shrink: 0;
        max-width: 360px;

        &-champion {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .block {
                margin-left: 24px;
            }
            .title {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .icon {
                    margin-right: 8px;
                    cursor: pointer;
                }
                h2 {
                    font-family: $title;
                    font-size: $text-title;
                    background: -webkit-linear-gradient(#C79A3C, #A6843C, #614B1D);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .quotation {
                font-family: $font;
                font-size: $text-big;
                background: -webkit-linear-gradient(#C79A3C, #A6843C, #614B1D);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &-rates {
            @media screen and (max-width: 1200px) {
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
            }

            .rate {
                margin-left: -44px;
                position: relative;
                @media screen and (min-width: 1201px) {
                    &:not(:last-of-type) {
                        margin-bottom: 16px;
                    }
                }
                @media screen and (max-width: 1200px) {
                    margin-right: 15px;
                }
                &.win,
                &.ban,
                &.pick {
                    &:after {
                        position: absolute;
                        background: -webkit-linear-gradient(#C79A3C, #A6843C, #614B1D);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        @media screen and (min-width: 1201px) {
                            top: 50%;
                            left: 135px;
                            font-size: $text-big;
                            transform: translateY(-50%);
                        }
                        @media screen and (max-width: 1200px) {
                            bottom: -26px;
                            left: 44%;
                            font-size: 14px;
                        }
                    }
                }
                &.win:after {
                    content: 'Win rate';
                }
                &.ban:after {
                    content: 'Ban rate';
                }
                &.pick:after {
                    content: 'Pick rate';
                }
            }
        }
        &-stats {
            .graph-container {
                position: relative;
                margin: 18px;
            }
            .img-graph {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 2px;
                width: 159px;
            }
            .icon-stat {
                position: absolute;
                cursor: pointer;
                &.damage { top: -26px; left: 66px; }
                &.control { top: 38px; right: -20px; }
                &.taughness { bottom: -10px; right: 10px; }
                &.mobility { bottom: -10px; left: 8px; }
                &.utility { top: 38px; left: -22px; }
            }
        }
    }

    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &-container {
            position: relative;
            max-width: 520px;
            width: 100%;
            min-width: 400px;
            img {
                width: 100%;
            }
            .top {

            }
            .jgl {

            }
            .mid {

            }
            .bot,
            .supp {

            }
        }
    }
}