.loading {
    .logoAnime {
        position: relative;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.1);
        background-image: url(../assets/RectangleWave.png);
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animation 15s linear infinite;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #C79A3C;
    }
    .logoAnimeLitle {
        position: relative;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.1);
        background-image: url(../assets/RectangleWave.png);
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C79A3C;
        animation: animationLitle 15s linear infinite;
    }
}
@keyframes animationLitle {
    0% {
        background-position: left 0px top 10px;
    }
    100% {
        background-position: left 800px top 10px;
    }
}

@keyframes animation {
    0% {
        background-position: left 0px top 20px;
    }
    100% {
        background-position: left 1500px top 20px;
    }
}